@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?gbranh');
  src:  url('fonts/icomoon.eot?gbranh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?gbranh') format('truetype'),
    url('fonts/icomoon.woff?gbranh') format('woff'),
    url('fonts/icomoon.svg?gbranh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-FUMESAR-ICONOS-ADMINISTRADOR .path1:before {
  content: "\e900";
  color: rgb(0, 0, 109);
}
.icon-FUMESAR-ICONOS-ADMINISTRADOR .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-ADMINISTRADOR .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-ADMINISTRADOR .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-ADMINISTRADOR .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-ADMINISTRADOR .path6:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-ASCENDER .path1:before {
  content: "\e906";
  color: rgb(0, 0, 109);
}
.icon-FUMESAR-ICONOS-ASCENDER .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-ASCENDER .path3:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-ASCENDER .path4:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-ASCENDER .path5:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-ASCENDER .path6:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-ASISENCIA .path1:before {
  content: "\e90c";
  color: rgb(0, 0, 109);
}
.icon-FUMESAR-ICONOS-ASISENCIA .path2:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-ASISENCIA .path3:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-ASISENCIA .path4:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-ASISENCIA .path5:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-BORRAR .path1:before {
  content: "\e911";
  color: rgb(0, 0, 109);
}
.icon-FUMESAR-ICONOS-BORRAR .path2:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-BORRAR .path3:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-BORRAR .path4:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-BORRAR .path5:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-CALIFICACIONES .path1:before {
  content: "\e916";
  color: rgb(0, 0, 109);
}
.icon-FUMESAR-ICONOS-CALIFICACIONES .path2:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-CALIFICACIONES .path3:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-CALIFICACIONES .path4:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-CERTIFICADOS .path1:before {
  content: "\e91a";
  color: rgb(0, 0, 109);
}
.icon-FUMESAR-ICONOS-CERTIFICADOS .path2:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-CERTIFICADOS .path3:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-CERTIFICADOS .path4:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-CERTIFICADOS .path5:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-CERTIFICADOS .path6:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-CERTIFICADOS .path7:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-CERTIFICADOS .path8:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-CUENTA .path1:before {
  content: "\e922";
  color: rgb(0, 0, 109);
}
.icon-FUMESAR-ICONOS-CUENTA .path2:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-editar .path1:before {
  content: "\e924";
  color: rgb(0, 0, 109);
}
.icon-FUMESAR-ICONOS-editar .path2:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-editar .path3:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-editar .path4:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-editar .path5:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-editar .path6:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-editar .path7:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-FOLIO-DE-VIDA .path1:before {
  content: "\e92b";
  color: rgb(0, 0, 109);
}
.icon-FUMESAR-ICONOS-FOLIO-DE-VIDA .path2:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-FOLIO-DE-VIDA .path3:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-GESTION .path1:before {
  content: "\e92e";
  color: rgb(0, 0, 109);
}
.icon-FUMESAR-ICONOS-GESTION .path2:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-GESTION .path3:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-GESTION .path4:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-GESTION .path5:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-GESTION .path6:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-GESTION .path7:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-GESTION .path8:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-GESTION .path9:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-GESTIONAR .path1:before {
  content: "\e937";
  color: rgb(0, 0, 109);
}
.icon-FUMESAR-ICONOS-GESTIONAR .path2:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-GESTIONAR .path3:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-GESTIONAR .path4:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-IMPRIMIR .path1:before {
  content: "\e93b";
  color: rgb(0, 0, 109);
}
.icon-FUMESAR-ICONOS-IMPRIMIR .path2:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-IMPRIMIR .path3:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-IMPRIMIR .path4:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-IMPRIMIR .path5:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-IMPRIMIR .path6:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-INSTRUCTOR .path1:before {
  content: "\e941";
  color: rgb(0, 0, 109);
}
.icon-FUMESAR-ICONOS-INSTRUCTOR .path2:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-INSTRUCTOR .path3:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-INSTRUCTOR .path4:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-INVENTARIO .path1:before {
  content: "\e945";
  color: rgb(0, 0, 109);
}
.icon-FUMESAR-ICONOS-INVENTARIO .path2:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-INVENTARIO .path3:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-INVENTARIO .path4:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-INVENTARIO .path5:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-INVENTARIO .path6:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-INVENTARIO .path7:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-INVENTARIO .path8:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-INVENTARIO .path9:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-INVENTARIO .path10:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-INVENTARIO .path11:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-JEFATURA .path1:before {
  content: "\e950";
  color: rgb(0, 0, 109);
}
.icon-FUMESAR-ICONOS-JEFATURA .path2:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-FUMESAR-ICONOS-JEFATURA .path3:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(242, 242, 242);
}
.icon-FUMESAR-ICONOS-JEFATURA .path4:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(242, 242, 242);
}
.icon-FUMESAR-ICONOS-JEFATURA .path5:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-FUMESAR-ICONOS-JEFATURA .path6:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(242, 242, 242);
}
.icon-FUMESAR-ICONOS-JEFATURA .path7:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-FUMESAR-ICONOS-JEFATURA .path8:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-FUMESAR-ICONOS-JEFATURA .path9:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(242, 242, 242);
}
.icon-FUMESAR-ICONOS-JEFATURA .path10:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(242, 242, 242);
}
.icon-FUMESAR-ICONOS-JEFATURA .path11:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.icon-FUMESAR-ICONOS-PROVEEDORES .path1:before {
  content: "\e95b";
  color: rgb(0, 0, 109);
}
.icon-FUMESAR-ICONOS-PROVEEDORES .path2:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-PROVEEDORES .path3:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-PROVEEDORES .path4:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-PROVEEDORES .path5:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-PROVEEDORES .path6:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-SERVICIO-SOCIAL .path1:before {
  content: "\e961";
  color: rgb(0, 0, 109);
}
.icon-FUMESAR-ICONOS-SERVICIO-SOCIAL .path2:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-SERVICIO-SOCIAL .path3:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-SERVICIO-SOCIAL .path4:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-SERVICIO-SOCIAL .path5:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-SERVICIO-SOCIAL .path6:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-SERVICIO-SOCIAL .path7:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-SERVICIO-SOCIAL .path8:before {
  content: "\e968";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-SERVICIO-SOCIAL .path9:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-TERCEROS .path1:before {
  content: "\e96a";
  color: rgb(0, 0, 109);
}
.icon-FUMESAR-ICONOS-TERCEROS .path2:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-TERCEROS .path3:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-TERCEROS .path4:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-TERCEROS .path5:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-TERCEROS .path6:before {
  content: "\e96f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-TERCEROS .path7:before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-TERCEROS .path8:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-TERCEROS .path9:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-TERCEROS .path10:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-TERCEROS .path11:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-TERCEROS .path12:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-TERCEROS .path13:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FUMESAR-ICONOS-VER .path1:before {
  content: "\e977";
  color: rgb(0, 0, 109);
}
.icon-FUMESAR-ICONOS-VER .path2:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
